* {
    all: unset;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(182, 182, 180, 0.5);
    border-bottom: 1px solid #8c8c8c;
}

tooltip {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

#custom-pacman,
#clock,
#cpu,
#memory,
#network,
#workspaces,
#battery,
#pulseaudio,
#custom-pacman,
#keyboard-state,
#bluetooth {
    font-family: Open Sans SemiBold;
    padding: 2px 5px 2px 5px;
    margin-left: 2px;
    margin-right: 2px;
}

/* Cl0ck design */
#clock {
    letter-spacing: 1px;
    border-bottom: 1px solid #f0b1fd;
    color: #f0b1fd;
}

/* CPU design */
#cpu {
    border-bottom: 1px solid #5be494;
    color: #5be494;
}

/* M3m0ry design */
#memory {
    font-family: Open Sans SemiBold;
    border-bottom: 1px solid #e7ff7f;
    color: #e7ff7f;
}

/* N3tw0rk design */
#network {
    border-bottom: 1px solid #fff;
    color: #51c774;
}
#network.disconnected {
    background-color: #f53c3c;
}

/* W0rksp4c3s design */
#workspaces button {
    padding: 0 5px 0 5px;
    color: #fff;
    margin-right: 4px;
}
#workspaces button:hover {
    background: rgba(255, 255, 255, 0.2);
}
#workspaces button.active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #fff;
    font-weight: 600;
}
#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* B4tt3ry design */
#battery {
    border-bottom: 1px solid #fff;
    color: #fff;
}
#battery.charging, #battery.plugged {
    color: #fff;
    background-color: #26A65B;
}
@keyframes blink {
    to {
        border-bottom: #fff;
        color: #000000;
    }
}
#battery.good {
    border-bottom: #2bb966;
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #fff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Aud10 design */
#pulseaudio {
    border-bottom: 1px solid #252525;
    color: #252525;
}

/* Package Update Notifications */
#custom-pacman {
    padding-right: 10px;
    color: #61aae6;
    border-bottom: 1px solid #61aae6;
}

/* Status of Caps & Nums-Lock */
#keyboard-state {
    border-bottom: 1px solid #fff;
}

#bluetooth {
    color: #008bfd;
    border-bottom: 1px solid #008bfd;
}

